@import "tailwindcss";

html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media (max-width: 768px) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}

input:focus,
textarea:focus,
select:focus {
  font-size: inherit;
}